environs==9.5.0
Jinja2==3.1.2
python-telegram-bot==20.6 
langchain==0.0.339
openai==1.6.1
aiogram==3.1.1
aiohttp
psycopg2==2.9.9
black==23.11.0
feedparser
python-dateutil
beautifulsoup4
pytesseract
pypdf2
python-docx
Pillow
fpdf
